---
layout: default
title: Notes
---

<section id="posts" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
          <hr>
        {% for post in site.posts %}
          <div>
              <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
<!--
            <p class="text-info lead">
              {{ post.date | date: "%b %-d, %Y" }}
            </p>
-->

            <p>
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
              <hr>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

