// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Theme colors 1
//$main-brand:    #800020; //Old Brick (burgundy), main brand color
//$light-accent:  #d69c4d; //Di Serria, light accent
//$dark-accent:   #7a779e; //Kimberly, dark accent
//$light-shades:  #f9f6f9; //Prim, light shades
//$dark-shades:   #16151d; //Cinder, dark shades

// Theme colors 2
//$main-brand:    #00508B; //Matisse (dark blue), main brand color
//$light-accent:  #0092D1; //Curious blue, light accent
//$dark-accent:   #955E7E; //Strikemaster, dark accent
//$light-shades:  #F7F8F7; //Gray nurse, light shades
//$dark-shades:   #1E121F; //Bleached cedar, dark shades

// Theme colors 3
//$main-brand:    #00508B; //Fun blue (dark blue), main brand color
//$light-accent:  #0092D1; //Curious blue, light accent
//$dark-accent:   #3B699E; //San marino, dark accent
//$light-shades:  #F3F6FA; //Aqua haze, light shades
//$dark-shades:   #1D252A; //Shark, dark shades

// Theme colors 4
$main-brand:    #0F52BA; //Mariner (sapphire), main brand color
$light-accent:  #50BCD5; //Shakespeare, light accent
$dark-accent:   #A65769; //Coral tree, dark accent
$light-shades:  #FBF9F7; //Spring wood, light shades
$dark-shades:   #171620; //Cinder, dark shades

$primary:       $main-brand !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

//$sidebar-base-width: 17rem;
