<!doctype html>
<html>
    
    {% include head.html %}
  
    <body>
        
        <div class="wrapper">
            
            <!-- Sidebar  -->
            {% include sidebar.html %}
            
            <!-- Page Content  -->
            <div id="content">
                <div class="menu-header">
                    <button type="button" id="sidebarCollapse" class="btn menu-btn">
                        <img src="{{ site.baseurl }}/assets/images/nav.png" alt="Menu">
                    </button>
                    <span class="menu-text">{{ page.title }}</span>
                </div>
        
                <div class="row" style="margin: 5em">
                    <div class="col-md-12">
                        {{ content }}
                    </div>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
        
    </body>
    
</html>